/*------------------------------------------------------------------------------------*/

#greyone
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a8a8a8 0%,#959595 100%), 
             #9d9d9d, 
             #d9d9d9,
            radial-gradient(center 50% 50%, radius 100%,#d9d9d9,#cdcdcd);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: black;
}

#greyone:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a8a8a8 0%,#959595 100%),
            #9d9d9d, 
            #d9d9d9,
            radial-gradient(center 50% 50%,radius 100%,#eeeeee,#969696);
}

#greyone:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

/*------------------------------------------------------------------------------------*/

#greytwo
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#494949 0%,#454545 100%), 
             #343434, 
             #7d7d7d,
            radial-gradient(center 50% 50%, radius 100%,#737373,#5c5c5c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

#greytwo:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#494949 0%,#454545 100%),
            #343434, 
            #7d7d7d,
            radial-gradient(center 50% 50%,radius 100%,#7e7e7e, #292929);
}

#greytwo:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

/*------------------------------------------------------------------------------------*/

#grey3
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#b5b5b5 0%,#a8a8a8 100%), 
             #c6c6c6, 
             #eeeeee,
            radial-gradient(center 50% 50%, radius 100%,#fafafa,#e8e8e8);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #3c3c3c;
}

#grey3:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#b5b5b5 0%,#a8a8a8 100%), 
             #c6c6c6, 
             #eeeeee,
            radial-gradient(center 50% 50%,radius 100%,#eeeeee,#dbdbdb);
}

#grey3:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}
/*------------------------------------------------------------------------------------*/

#redbuttonR
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 100;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#830000 0%,#780000 100%),
             #8a0000,
             #8b0000,
            radial-gradient(center 50% 50%, radius 100%,#bd1e1e,#b31717);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 4.5em;
    -fx-text-fill: Black;
}

#redbuttonR:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#830000 0%,#780000 100%),
            #8a0000,
            #8b0000,
            radial-gradient(center 50% 50%,radius 100%,#d42020,#c41111);
}

#redbuttonR:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

/*------------------------------------------------------------------------------------*/

#button
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#1380a3 0%,#127290 100%), 
             #24829d, 
             #3aafd8,
            radial-gradient(center 50% 50%, radius 100%,#3ab0d9,#2ca3c5);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

#button:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#1380a3 0%,#127290 100%),
            #24829d, 
            #3aafd8,
            radial-gradient(center 50% 50%,radius 100%,#4bc4ea,#0e7f9d);
}

#button:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

/*------------------------------------------------------------------------------------*/

#redbutton
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
             #9d4024,
             #d86e3a,
            radial-gradient(center 50% 50%, radius 100%,#d96e3a,#c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

#redbutton:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%,radius 100%,#ea7f4b,#c54e2c);
}

#redbutton:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

/*------------------------------------------------------------------------------------*/

#toolbar
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#29559a 0%,#315690 100%), 
             #385d93, 
             #608cd6,
            radial-gradient(center 50% 50%, radius 100%,#5c89d6,#4472b5);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

/*------------------------------------------------------------------------------------*/

#toolbarrules
{
    -fx-padding: 8 15 15 15;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#494949 0%,#454545 100%), 
             #343434, 
             #7d7d7d,
            radial-gradient(center 50% 50%, radius 100%,#737373,#5c5c5c);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

/*------------------------------------------------------------------------------------*/

#toolbarrules2
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a8a8a8 0%,#959595 100%), 
             #9d9d9d, 
             #d9d9d9,
            radial-gradient(center 50% 50%, radius 100%,#d9d9d9,#cdcdcd);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: black;
}

/*------------------------------------------------------------------------------------*/

#toolbarrules3
{
    -fx-padding: 8 15 15 15;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#cbcbcb 0%,#b5b5b5 100%), 
             #c6c6c6, 
             #eeeeee,
            radial-gradient(center 50% 50%, radius 100%,#fafafa,#e8e8e8);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: black;
}

/*------------------------------------------------------------------------------------*/

#radiobutton
{
    -fx-padding: 8 15 15 15;
    -fx-background-radius: 200;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#cbcbcb 0%,#b5b5b5 100%), 
             #c6c6c6, 
             #eeeeee,
            radial-gradient(center 50% 50%, radius 100%,#fafafa,#e8e8e8);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: black;
}

